* {
    padding: 0;
    margin: 0;
}

:root {
    --white: white;
    --black: black;
    --light_white: #ffffff85;
    --light: #fffffff6;
    --light_dark: #0000009d;
    --dark: #000000f6;
    --dark_emphasis: #363636;
    /* --primary: #eabc77; */
    --primary: #1163fb;
    --dark_primary: #0b56e2;
}

html {
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

.bg_texture {
    height: auto;
    width: auto;
    background: url('../img/download.png'), linear-gradient(to top, var(--dark), var(--dark));
}

.border_light_bottom {
    border-bottom: 1px solid #ffffff2c;
}

/* custom classes  */
.wrapper {
    height: auto;
    max-width: 1200px !important;
    padding: 0 1.2rem !important;
    margin: auto !important;
}

.inline_flex {
    display: inline-flex;
    align-items: center;
}

/* text  */

.text_blue {
    background: linear-gradient(100deg, #005aff, #7baaff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.text_light {
    color: var(--light) !important;
}

.text_lighter {
    color: var(--light_white) !important;
}

/* fonts  */
.fs_5 {
    font-size: 1.1rem !important;
}

.fs_6 {
    font-size: 15px !important;
}

.fs_xs {
    font-size: 13px !important;
}

/* button  */
.btn_explore {
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    font-size: 0.85rem;
    background: #242424;
    color: var(--light);
    fill: var(--light);
    border-radius: 100px;
    border: 1px solid #303030;
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}


.btn_explore::before {
    content: "";
    position: absolute;
    top: 0%;
    transform: translate(-100%, 0%) skewX(20deg);
    left: 0;
    height: 120%;
    width: 40px;
    background: #ffffff33;
    transition: 0.25s;
}

.btn_explore:hover {
    background: #181818;
    border-color: #181818;
}

.btn_explore:hover::before {
    left: 100%;
    transform: translate(100%, 0%) skewX(20deg);
}


.btn_primary {
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    background: var(--primary);
    font-size: 0.85rem;
    color: var(--light);
    fill: var(--light);
    border-radius: 100px;
    border: 1px solid var(--primary);
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.btn_primary::before {
    content: "";
    position: absolute;
    top: 0%;
    transform: translate(-100%, 0%) skewX(20deg);
    left: 0;
    height: 120%;
    width: 40px;
    background: #ffffff33;
    transition: 0.25s;
}

.btn_primary:hover {
    background: var(--dark_primary);
    border-color: var(--dark_primary);
}

.btn_primary:hover::before {
    left: 100%;
    transform: translate(100%, 0%) skewX(20deg);
}

.btn_outline_primary {
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    background: transparent;
    font-size: 0.85rem;
    color: var(--light);
    fill: var(--light);
    border-radius: 100px;
    border: 1px solid var(--primary);
    transition: 0.3s;
    position: relative;
    overflow: hidden;
}

.btn_outline_primary::before {
    content: "";
    position: absolute;
    top: 0%;
    transform: translate(-100%, 0%) skewX(20deg);
    left: 0;
    height: 120%;
    width: 40px;
    background: #ffffff33;
    transition: 0.25s;
}

.btn_outline_primary:hover {
    color: var(--white);
    fill: var(--white);
    background: var(--primary);
    border-color: var(--primary);
}

.btn_outline_primary:hover::before {
    left: 100%;
    transform: translate(100%, 0%) skewX(20deg);
}

.btn_dark {
    text-decoration: none;
    padding: 0.6rem 1.4rem;
    background: var(--dark);
    font-size: 0.85rem;
    color: var(--primary);
    fill: var(--primary);
    border-radius: 100px;
    border: 1px solid var(--dark);
    transition: 0.3s;
}

.btn_dark:hover {
    background: transparent;
    color: var(--dark);
    fill: var(--dark);
    border-color: var(--dark);
}

.arrowIconBtn .icons {
    transform: rotate(-45deg);
    transition: 0.1s;
}

.arrowIconBtn:hover.arrowIconBtn .icons {
    transform: rotate(0deg);
}

/* navbar  */
.navbar-nav .nav-link {
    font-size: 0.95rem;
    font-weight: medium;
    text-transform: uppercase;
    color: #ffffffc4;
    position: relative;
}


.navbar-nav .nav-link::after {
    content: "";
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-50%);
    height: 2px;
    width: 0%;
    background: var(--primary);
    transition: 0.3s;
}

.navbar-nav .nav-link:hover::after {
    width: 50%;
}

.navbar-nav .nav-link:hover {
    color: var(--light);
}


@media (max-width: 991px) {
    .navbar-nav .nav-link::after {
        left: 0%;
        transform: none;
    }

    .navbar-nav .nav-link:hover::after {
        width: 10%;
    }
}