#hero {
    min-height: 100vh;
    max-height: fit-content;
    width: auto;
    position: relative;
}

.heroTxtContainer {
    min-height: 100%;
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.heroBanner {
    height: fit-content;
    width: auto;
    background: linear-gradient(to top, #0e121d, #1b2548);
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.bannerBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100% !important;
    width: 100% !important;
}

/* services  */




/* index css  */
::selection {
    background: var(--primary) !important;
    color: #f4f4f4 !important;
    -webkit-text-fill-color: #f4f4f4 !important;
}

/* solutions  */

.image {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100%;
    width: 100%;
    object-fit: cover;
    filter: blur(10px);
    opacity: 0.5;
}

/* packagesCard  */
/* footer */
.footer {
    height: auto;
    width: 100%;
    background: url(../img/download.png), linear-gradient(0deg, #090909, #090909);
    position: relative;
}

.footerShade {
    background: #1e274766;
}

/* nav  */

.featuredCard {
    height: auto;
    width: auto;
    border: 2px solid #1163fb6b;
    border-radius: 20px;
}

/* rojects  */

/* testimonialAvatar */

.testimonialCard {
    height: 100%;
    width: auto;
    border-radius: 30px;
    background: linear-gradient(45deg, #0020561c, #5076ff4d);
    border: 1px solid #1163fb36;
}

.testimonialAvatar {
    height: 50px;
    width: 50px;
    background: #add8e6;
    border-radius: 100px;
    overflow: hidden;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
    color: #000000f6;
    font-weight: 500;
}

.social_links_box {
    height: 36px;
    width: 36px;
    background: transparent;
    border-radius: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    box-shadow: 0px 0px 10px 0px #00000061;
    font-size: 20px;
    text-decoration: none;
    transition: 0.3s;
}

.bg_whatsapp {
    background: #1b6d51;
    color: white;
}

.bg_envelope {
    background: #ebebeb;
    color: #d33333;
}

.bg_upwork {
    background: #15A401;
    color: white;
}

.bg_github {
    background: #722372;
    color: white;
}

.bg_stackoverflow {
    background: white;
    color: #F58832;
}

/* about  */
.timelineContainer {
    min-width: 50px;
}

.timeline {
    height: 100%;
    width: 2px;
    background: linear-gradient(125deg, #6da1ff21, #4687ff, #6da1ff21);
    margin: auto;
}

.aboutContentDot {
    height: 20px;
    width: 20px;
    background: linear-gradient(125deg, #0ea6ff, #002a77);
    box-shadow: 0 0 6px 3px #005aff36;
    border-radius: 100px;
    position: absolute;
    top: 50%;
    left: -35px;
    transform: translateY(-50%);
    animation: drop_box 5s linear infinite;
}

@keyframes drop_box {
    0% {
        box-shadow: 0 0 6px 3px #005aff36;
    }

    50% {
        box-shadow: 0 0 6px 3px #0059ff7c;
    }

    100% {
        box-shadow: 0 0 6px 3px #005aff36;
    }
}

.contactForm {
    height: auto;
    width: auto;
    background: linear-gradient(45deg, #00205600, #5076ff24);
    box-shadow: 0px 9px 13px 4px #00000033;
    border: 1px solid #5076ff7a;
    border-radius: 30px;
}

.inputField {
    background: transparent !important;
    border: 1px solid #5076ff9a !important;
    color: #ffffffd0 !important;
    padding: 0.8rem !important;
}

.inputField:focus {
    border: 1px solid var(--primary) !important;
}

.inputField::placeholder {
    color: var(--light_white) !important;
}

.inputField.error {
    border-color: #ff00009e !important;
}
