#hero {
    height: auto;
    width: auto;
    position: relative;
}

.heroTxtContainer {
    min-height: 530px;
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.scrollDownMouse {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
}

.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid var(--dark_primary);
    border-radius: 60px;
    position: relative;
    &::before {
        content: '';
        width: 5px;
        height: 5px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--dark_primary);
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }
}

.videoBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.herobannerSection {
    height: auto;
    width: auto;
    position: relative;
    padding: 1rem 0;
    background: transparent;
}

.herobannerSection::before {
    content: "";
    position: absolute;
    bottom: -2px;
    height: 50%;
    width: 100%;
    background: url('../assets/img/download.png'), linear-gradient(to top, var(--light), var(--light));
}

.heroBanner {
    height: fit-content;
    width: auto;
    background: linear-gradient(to top, #202020, #1a1a1a);
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.bannerBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* services  */
.serviceCard {
    min-height: 300px;
    width: auto;
    border-radius: 15px;
    overflow: hidden;
}

.servcieDetails {
    padding: 1.2rem 1.75rem;
}

.serviceStackPill {
    padding: 0.5rem 1.2rem;
    font-size: 0.9rem;
    border-radius: 10rem;
    user-select: none;
    color: #000000a8;
    border: 1px solid #00000047;
}

.serviceApp {
    background-color: #cfe9cd;
}

.serviceWeb {
    background-color: #E9EDC9;
}

.serviceDesigning {
    background-color: #f1e0ff;
}

.serviceDatabase {
    background-color: #dcefe1;
}