#hero {
    height: 100vh;
    width: auto;
    position: relative;
}

.heroTxtContainer {
    min-height: 100%;
    max-height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

/* .scrollDownMouse {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 1;
} */

.mouse {
    width: 25px;
    height: 40px;
    border: 2px solid var(--dark_primary);
    border-radius: 60px;
    position: relative;
    &::before {
        content: '';
        width: 5px;
        height: 5px;
        position: absolute;
        top: 10px;
        left: 50%;
        transform: translateX(-50%);
        background-color: var(--dark_primary);
        border-radius: 50%;
        opacity: 1;
        animation: wheel 2s infinite;
        -webkit-animation: wheel 2s infinite;
    }
}

@keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }
}

@-webkit-keyframes wheel {
    to {
        opacity: 0;
        top: 30px;
    }
}

.videoBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
    z-index: 0;
}

.herobannerSection {
    height: auto;
    width: auto;
    padding: 1rem 0;
}

.heroBanner {
    height: fit-content;
    width: auto;
    background: linear-gradient(to top, #000000, #252525);
    position: relative;
    overflow: hidden;
    border-radius: 30px;
}

.bannerBg {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    object-fit: cover;
    height: 100%;
    width: 100%;
}
/* services  */
.serviceCard {
    min-height: 300px;
    width: auto;
    border-radius: 30px;
}

.servcieDetails {
    padding: 1.2rem 1.75rem;
}

.serviceStackPill {
    padding: 0.5rem 1.2rem;
    font-size: 0.85rem;
    border-radius: 10rem;
    user-select: none;
}

.serviceApp {
    background: url(../img/download.png) fixed, linear-gradient(0deg, #cfe9cd, #cfe9cd);
}

.serviceApp .serviceStackPill {
    color: #4e8849;
    border: 1px solid #669a62;
}

.serviceWeb {
    background: url(../img/download.png) fixed, linear-gradient(0deg, #E9EDC9, #E9EDC9);
}

.serviceWeb .serviceStackPill {
    color: #ac9242;
    border: 1px solid #c0aa67;
}

.serviceDesigning {
    background: url(../img/download.png) fixed, linear-gradient(0deg, #f1e0ff, #f1e0ff);
}

.serviceDesigning .serviceStackPill {
    color: #785297;
    border: 1px solid #9975b7;
}

.serviceMarketing {
    background: url(../img/download.png) fixed, linear-gradient(0deg, #dcefe1, #dcefe1);
}

.serviceMarketing .serviceStackPill {
    color: #548662;
    border: 1px solid #6e9a7a;
}
